html, body {
    height: 100%;

    margin: 0;
    padding: 0;

    font-family: "Trebuchet MS";
}

@font-face {
    font-family: "Exo";
    src: url("../fonts/Exo2.0-Thin.otf") format("opentype");
    font-weight: 100;
    font-display: swup;
    font-style: normal;
}

body {
    display: flex;

    background: url('../images/background.png');
    background-size: 100%;
}

.container {
    width: 65%;

    margin: auto;
}

.main-header {
    margin: 0;

    font-family: "Exo";
    font-size: 36px;
    font-weight: 400;

    color: #ffffff;

    text-align: center;
    text-shadow: 0 1px 0 #000000;
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 25px;
}

.product-1,
.product-2,
.product-3 {
    position: relative;

    width: 320px;
    height: 480px;
}

.product-1:hover,
.product-2:hover,
.product-3:hover {
    cursor: pointer;
}

.product-triangle {
    position: absolute;

    left: 8px;
    top: 9px;

    width: 60px;
    height: 61px;

    background-color: #f2f2f2;

    transform: rotate(50deg);
}

.disabled-triangle {
    position: absolute;
    z-index: 1000;

    left: 19px;
    top: -14px;

    width: 3px;
    height: 61px;

    background-color: #f2f2f2;

    transform: rotate(50deg);

    opacity: 0.6;
}

.product-top {
    position: absolute;

    top: -4px;
    right: -4px;

    width: 278px;
    height: 80px;

    border-top-right-radius: 15px;

    background-color: #f2f2f2;
}

.disabled-top {
    position: absolute;
    z-index: 1000;

    top: -4px;
    right: -4px;

    width: 278px;
    height: 95px;

    border-top: 4px solid #f2f2f2;
    border-right: 4px solid #f2f2f2;
    border-top-right-radius: 15px;

    background-color: #f2f2f2;

    opacity: 0.6;
}

.product-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: absolute;

    bottom: -4px;
    right: -4px;

    width: 320px;
    height: 445px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    background-color: #f2f2f2;
}

.disabled-bottom {
    position: absolute;
    z-index: 1000;

    bottom: -4px;
    right: -4px;

    width: 320px;
    height: 385px;

    border-bottom: 4px solid #f2f2f2;
    border-right: 4px solid #f2f2f2;
    border-left: 4px solid #f2f2f2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    background-color: #f2f2f2;

    opacity: 0.6;
}

.disabled-sector {
    position: absolute;
    z-index: 1000;

    bottom: 385px;
    left: -4px;

    width: 10px;
    height: 59px;

    background-color: #f2f2f2;

    opacity: 0.6;
}

.product-weight {
    position: absolute;

    bottom: 10px;
    right: 10px;

    width: 80px;
    height: 80px;

    border-radius: 50%;
}

.product-header {
    margin-left: 10px;

    color: #666666;
    font-size: 16px;
    font-weight: 400;
}

.product-caption {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;

    color: #000000;
    font-size: 48px;
    font-weight: 700;
}

.product-co-caption {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 50px;

    color: #000000;
    font-size: 24px;
    font-weight: 700;
}

.product-description {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 50px;

    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.product-3 .product-description {
    margin-bottom: 14px;
}

.product-text {
    margin-top: 20px;

    font-size: 13px;
    text-shadow: 0 1px 0 #000000;
    color: #ffffff;
    text-align: center;
}

.product-weight-value {
    margin-top: 20px;
    margin-bottom: 0;

    color: #ffffff;
    font-size: 42px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.product-weight-value span {
    font-size: 21px;
}

.product-text-disabled {
    text-shadow: 0 1px 0 #000000;
    color: #ffff66;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.buy {
    border-bottom: 1px dashed #1698d9;

    color: #1698d9;
}

.buy:hover {
    cursor: pointer;
}

.default-circle {
    background-color: #1698d9;
}

.default-border-angle {
    border-left: 3px solid #1698d9;
}

.default-border-left {
    border-left: 4px solid #1698d9;
}

.default-border-right {
    border-right: 4px solid #1698d9;
}

.default-border-top {
    border-top: 4px solid #1698d9;
}

.default-border-bottom {
    border-bottom: 4px solid #1698d9;
}

.default-border-angle-hover {
    border-left: 3px solid #2ea8e6;
}

.default-circle-hover {
    background-color: #2ea8e6;
}

.default-border-left-hover {
    border-left: 4px solid #2ea8e6;
}

.default-border-right-hover {
    border-right: 4px solid #2ea8e6;
}

.default-border-top-hover {
    border-top: 4px solid #2ea8e6;
}

.default-border-bottom-hover {
    border-bottom: 4px solid #2ea8e6;;
}

.selected-circle {
    background-color: #d91667;
}

.selected-border-angle {
    border-left: 3px solid #d91667;
}


.selected-border-top {
    border-top: 4px solid #d91667;
}

.selected-border-left {
    border-left: 4px solid #d91667;
}

.selected-border-right {
    border-right: 4px solid #d91667;
}

.selected-border-bottom {
    border-bottom: 4px solid #d91667;
}

.selected-circle-hover {
    background-color: #e62e7a;
}

.selected-border-angle-hover {
    border-left: 3px solid #e62e7a;
}

.selected-border-top-hover {
    border-top: 4px solid #e62e7a;
}

.selected-border-left-hover {
    border-left: 4px solid #e62e7a;
}

.selected-border-right-hover {
    border-right: 4px solid #e62e7a;
}

.selected-border-bottom-hover {
    border-bottom: 4px solid #e62e7a;
}

.selected-border-hover {
    border: 4px solid #e62e7a;
}

.product-header-selected-hover {
    color: #e62e7a;
    font-size: 16px;
    font-weight: 400;
}